.container {
  position: relative;
}

.button {
  padding: 0.375rem 0.5rem; /* py-1 px-4 */
  border-radius: 0.375rem; /* rounded */
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); /* shadow */
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  font-weight: 600; /* font-medium */
  border: 1px solid #019863; /* border-blue-700 */
  color: #019863;
  transition: all 0.2s ease-in-out;
}

.button:hover {
  transform: scale(1.02);
}

.caret {
  margin-left: auto; /* ml-2 */
  font-size: 0.875rem; /* text-sm */
}

.dropdown {
  position: absolute;
  left: 0;
  right: 0;
  margin-top: 0.5rem; /* mt-2 */
  background-color: white;
  border: 1px solid #e5e7eb; /* border-gray-300 */
  border-radius: 0.375rem; /* rounded */
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1); /* shadow-lg */
  z-index: 10;
  min-width: 200px;
  max-height: 250px; /* adjust as needed */
  overflow-y: auto; /* makes it scrollable */
}

.dropdownBottom {
  top: calc(100% + 4px);
}
.dropdownTop {
  bottom: calc(100% + 4px);
}

.dropdownItem {
  width: 100%;
  padding: 0.5rem 1rem; /* py-2 px-4 */
  text-align: left;
  background-color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  color: #374151; /* text-gray-700 */
  font-size: 0.875rem; /* text-sm */
}

.dropdownItem:hover {
  background-color: #f3f4f6; /* hover:bg-gray-100 */
}
