/*
* {
    border: 1px solid red;
    box-sizing: border-box;
}
*/

/*change background color, add custom icons?*/

body {
  font-family: "Inter", "sans-serif";
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: radial-gradient(
      circle at top left,
      hsl(0, 0%, 16%),
      transparent 55%
    ),
    radial-gradient(
      circle at bottom right,
      hsla(0, 0%, 16%, 0.623),
      transparent 55%
    ),
    hsl(0, 0%, 35%);
}

.title {
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: bold;
  color: hsl(220, 13%, 91%);
  text-shadow: 2px 2px 3px hsla(0, 0%, 0%, 0.75);
}

/*Use textarea in html and js to make it dynamically grow*/
.input-container {
  display: flex;
  flex-direction: column;   /* stack vertically */
  align-items: center;
  padding: 10px 10px 15px 10px;
  gap: 10px;
  position: sticky;
  bottom: 0;
  z-index: 1;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  background: radial-gradient(
      circle at top left,
      hsla(214, 21%, 6%, 0.7),
      transparent 50%
    ),
    radial-gradient(
      circle at bottom right,
      hsla(218, 20%, 8%, 0.7),
      transparent 75%
    ),
    hsla(230, 29%, 16%, 0.5);
}

.input-row {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.chatbox-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Full viewport height */
}

.message-input,
.send-button {
  border-radius: 10px;
}

.message-input {
  flex: 1;
  background-color: hsla(0, 0%, 100%, 0.1);
  font-family: "Inter", "sans-serif";
  color: hsla(0, 0%, 100%, 0.75);
  padding: 10px 10px 50px 10px;
  border: 1px solid hsl(0, 0%, 80%);
  margin-right: 5px;
  resize: block;
}

.summarize-btn {
  width: 100%;
}

.summarize-btn,
.send-btn,
.stop-btn {
  padding: 1rem 1rem;
  border-radius: 10px;
  border: 1px solid hsl(0, 0%, 80%);
  transition: background-color 0.25s ease, border-color 0.25s ease,
    transform 0.25s ease;
  cursor: pointer;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: bold;
  color: hsl(220, 13%, 91%);
  text-shadow: 2px 2px 3px hsla(0, 0%, 0%, 0.75);
  background: none;
}

.summarize-btn:hover,
.send-btn:hover,
.stop-btn:hover {
  border-color:  hsla(217, 91%, 60%, 0.35);
  transform: translateY(-1px);
  text-decoration: none;
  background: hsla(215, 20%, 65%, 0.15);
  box-shadow: 3px 3px 7px hsla(0, 0%, 0%, 0.75);
}

.summarize-btn:active,
.send-btn:active,
.stop-btn:active {
  border-color:  hsla(217, 91%, 60%, 0.35);
  transform: translateY(-1px);
  text-decoration: none;
}

/*.stop-btn { display: inline-flex; align-items:center; justify-content:center; width:36px; height:36px; }*/
.stop-btn:disabled,
.send-btn:disabled {
  display: none;
}

.chat-container {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  background: radial-gradient(
      circle at top right,
      hsla(214, 21%, 6%, 0.8),
      transparent 35%
    ),
    radial-gradient(
      circle at bottom left,
      hsla(218, 20%, 8%, 0.8),
      transparent 65%
    ),
    hsl(213, 12%, 15%);
  margin-bottom: 0;
  gap: 10px;
  font-size: 14px;
  border-top: 2px solid hsla(215, 20%, 65%, 0.35);
  border-bottom: 2px solid hsla(215, 20%, 65%, 0.35);
}

.toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  background: radial-gradient(
      circle at top left,
      hsla(214, 21%, 6%, 0.7),
      transparent 50%
    ),
    radial-gradient(
      circle at bottom right,
      hsla(218, 20%, 8%, 0.7),
      transparent 75%
    ),
    hsla(231, 41%, 7%, 0.5);
}

.toolbar-buttons {
  display: flex;
  gap: 10px;
}

.toolbar-button,
.settings-button {
  background: none;
  border: 1px solid transparent;
  box-sizing: border-box;
  font-size: 18px;
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
}

.toolbar-button:hover,
.settings-button:hover {
  background: hsla(215, 20%, 65%, 0.15);
  border-color: hsla(217, 91%, 60%, 0.35);
  transform: translateY(-1px);
  text-decoration: none;
  box-shadow: 3px 3px 7px hsla(0, 0%, 0%, 0.75);
}

.toolbar-button:active,
.settings-button:active {
  background: hsla(218, 18%, 88%, 0.5);
  border-color: hsla(217, 91%, 60%, 0.35);
  transform: translateY(1px);
}

/* Chat bubbles */

.bubble {
  max-width: 70%;
  padding: 1em 1.5em;
  border-radius: 25px;
  background: #4285f4;
  color: #fff;
  display: inline-block;
  word-wrap: break-word; /* Old syntax: forces word break */
  overflow-wrap: break-word; /* Modern syntax */
  white-space: pre-line; /* Preserve line breaks */
}

.bot-message {
  --_p: 0;
  place-self: start;
}

.user-message {
  --_p: 100%;
  place-self: end;
}

/* Loading bubble animation */
.line {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 3px;
  border-radius: 10px;
  background-color: #fafafa;
}

.loading .line:nth-last-child(1) {
  animation: loadingB 1.5s 1s infinite;
}
.loading .line:nth-last-child(2) {
  animation: loadingB 1.5s 0.5s infinite;
}
.loading .line:nth-last-child(3) {
  animation: loadingB 1.5s 0s infinite;
}

@keyframes loadingB {
  0% {
    width: 10px;
  }
  50% {
    width: 30px;
  }
  100% {
    width: 10px;
  }
}
/* Loading bubble animation */
